<div class="container">
  <div class="card">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="userEmail">Email address</label>
          <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  type="email" class="form-control" id="userEmail">
         
        </div>
        <div class="form-group">
          <label for="userFirstName">First Name</label>
          <input [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="userFirstName">
        </div>
    
        <div class="form-group">
          <label for="userLastName">Last Name</label>
          <input [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="userLastName">
        </div>
       
        <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>
      </form>
    </div>
  </div>

  <div class="container mt-4">
    <div class="input-group mb-3">
      <input [(ngModel)]="searchText" type="text" class="form-control">
    </div>
  </div>
  

  


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentArray | filterData : searchText">
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.email }}</td>
        <td> <button type="button" class="btn" [ngClass]="item.role === 'admin' ? 'btn-secondary' : 'btn-success' ">{{
            item.role }}</button> </td>
        <td>
          <button type="button" class="btn btn-danger mr-4" (click)="clickOnDelete(item)">Delete</button>
          <button type="button" class="btn btn-warning" (click)="setUserDataToForm(item)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>