<p > {{inputName}}</p>


<div class="container">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Age</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of inputStudentArray">
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.age }}</td>
            <td> <button  (click)="clickTabaleData(item)" type="button" class="btn btn-success">Out</button> </td>
          </tr>
        </tbody>
      </table>    
</div>
=================================================================

<span [ngClass]="myValue > 10 ? 'background-green' : '' " > My NgClass test  </span>  

<br>

<span [ngStyle]="{'background-color': myValue > 1000 ? 'blue' : 'red' }" > My NgStyle test Angular ****  </span>



<div [ngSwitch]="selectedValue1">
    <p *ngSwitchCase="'One'">One is Selected</p>
    <p *ngSwitchCase="'Two'">Two is Selected</p>
    <p *ngSwitchCase="'Three'">Three is Selected</p>
    <p *ngSwitchDefault>This is Default</p>
  </div>