
<app-nav-bar></app-nav-bar>

<div class="container mt-5">

    <router-outlet></router-outlet>

</div>

<div class="container">
    <div class="input-group mb-3">
        <input (input)="setTextInput($event)" type="text" class="form-control">
      </div>

</div>


<app-project-pragraph [paragraphData]="textInput" ></app-project-pragraph>






