
<div class="container">
    
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
    </div>
    <input (keypress)="keypressEvent($event)" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
</div>


<button (click)="clickMyButton()" type="button" class="btn btn-primary">Primary</button>




<select name="cars" id="cars" (change)="selectDropdownEvent($event)">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>



      
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Two way data bining</span>
    </div>
    <input [(ngModel)]="inputMyValue" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>