

<div class="container mt-5" *ngIf="isLoginForm">
    Login Form
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button class="btn btn-primary mr-5" (click)="login()" >Login</button>

                <button class="btn btn-info" (click)="gotoRegister()">Goto Register</button>
            </form>
            
        </div>
      </div>
</div>


<div class="container mt-5" *ngIf="!isLoginForm">
    Registration Form
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group col-md-10">
                    <label for="userEmail">Email address</label>
                    <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                </div>
                <div class="form-group col-md-10">
                    <label for="userPassword">Password</label>
                    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" id="userPassword">
                </div>
                <div class="form-group  col-md-10">
                    <label for="userFirstName">First Name</label>
                    <input  [(ngModel)]="firstName"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="userFirstName">
                </div>
                <div class="form-group col-md-10">
                    <label for="userLastName">Last Name</label>
                    <input  [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="userLastName">
                </div>

                <div class="form-group col-md-3">
                    <label for="userRole">User Role</label>
                    <select (change)="setUserRole($event)" class="form-control" id="userRole">
                      <option value="user">User</option>
                      <option value="admin" >Admin</option>
                    </select>
                  </div>

                <button class="btn btn-primary mr-5" (click)="registerUser()">Register</button>

                <button class="btn btn-info" (click)="gotoLogin()">Goto Login</button>
            </form>
            
        </div>
      </div>
</div>

