

<router-outlet></router-outlet>



<!-- 
<app-table 
[inputStudentArray] = "studentArray" 
[inputName]="'My Inout data name *****'" 

(outStudentArray) = "getData($event)"
>
</app-table>

<app-paragraph></app-paragraph>

 -->




