<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"  routerLink="table" >
          <a class="nav-link">Table </a>
        </li>
        <li class="nav-item" routerLink="list" >
          <a class="nav-link">List</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Log Out</button>
      </form>
    </div>
  </nav>